body{
	font-family: 'Open Sans',sans-serif; 
	padding: 10px;
	color: #003c5eff;
}


.main{
	margin: 25px;
	display: flex;
	flex-direction: column;
}

.big-title {
	color: #003c5eff;
	font-weight:bold;
	font-size: 18px;
	padding: 15px 0px 15px 0px;
}

.small-title{
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}

.detail{
	display: flex;
}

.sub{
	color: #777777ff;
	font-size: 15px;
	padding-bottom: 5px;
	flex-grow: 1;
}


.time{
	padding: 10px 10px 10px 0px;
	flex-basis: 100px;
	flex-grow: 0;
}

.header {
	display: flex;
	flex-direction: row;
/*	background-color: #033c62;
*/	padding: 0px 10px 0px;
	align-items: center;
}


.pageTitle{
	text-transform: uppercase;
	flex-grow:1;
	font-size: 30px;
	width: 80%;
	text-align: left;
	font-family: 'Indie Flower', cursive;
	padding-left: 10px;
	font-weight: bold;

}

.about{
	font-size: 15px;
	/*flex-basis: 50px;*/
	padding-right: 10px;
}

.logIn{
	font-size: 15px;
}

.circle{
	background-color: #ff0;
	width: 100px;
	height: 100px;
	border-radius: 50%; 
}

.avatar{
	margin: 20px;

}

.intro{
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	margin: 10px 10px 10px 10px;
}

.info .big-title{
	padding-top: 20px;
	font-size: 25px;
	font-weight: normal;
}

.info .sub{
	font-style: italic;
}

.carObj .sub{
	color:  #003c5eff;
}


