/*global*/
body,html {
  /*height: 100%;*/	
  /*width: 100%;*/
}

html {

  /*background: url(./Img/pattern.jpg.png) repeat;*/
/*  filter: blur(8px);
  	-webkit-filter: blur(8px);
*/  /*background-size*/
  /*background-size: cover;*/
  /*height:100%;*/
  /*width: 100%;*/
  /*overflow: hidden;*/
   /*background-position: center;*/
  /*background-repeat: repeat;*/
  /*background-size: cover;*/
}

body{
		/*background: url(./Img/backgroundImage.jpg) no-repeat left center;*/
	font-family: 'Open Sans',sans-serif; 
	margin:0px 0px 0px 00px;
	color: #003c5eff;


	background: url(./Img/pattern.jpg) repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    /*background-position: fixed;*/
}

.cv{
	display: flex;
	/*border: 1px solid black;*/
	margin: 50px 120px 100px 120px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

.left-column{
	/*border: 1px solid black;*/
	flex-basis: 800px;
	flex-grow: 2;
}
.right-column{
	/*border: 1px solid black;*/
	flex-basis: 400px;
	flex-grow: 1;
	padding-top: 50px;
}

.main{
	margin: 20px 25px 0px 25px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #003c5e22;
	padding: 15px 0px 15px 0px;
}

.big-title {
	color: #003c5eff;
	font-weight:bold;
	font-size: 20px;
	padding: 0px 0px 15px 0px;
}

.small-title{
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}

.detail{
	display: flex;
}

.sub{
	color: #777777ff;
	font-size: 15px;
	padding-bottom: 5px;
	padding-left: 0px;
}


.time{
	padding: 10px 0px 10px 0px;
	flex-basis: 100px;
	flex-grow: 0;
	text-align: right;
	flex-shrink: 0;
	color: #777777ff;
}

.line{
	border-left:1px solid black;
	margin: 0px 30px 0px 30px;
}

/*end global*/
.placeholder{
	height: 50px;
}
.header {
	display: flex;
	flex-direction: row;
	padding: 10px 00px 10px 00px;
	align-items: center;
	/*border-bottom: 1px solid #003c5e55;*/
	background-color: #fbdb64;
	/*border-radius: 10px;*/
	width : 100%;
	/*background-color: white;*/
	position: fixed;
}


.pageTitle{
	text-transform: uppercase;
	flex-grow:1;
	font-size: 30px;
	width: 80%;
	text-align: left;
	font-family: 'Indie Flower', cursive;
	padding-left: 30px;
	font-weight: bold;
	color:  #005c5eff;

}

.about{
	font-size: 15px;
	/*flex-basis: 50px;*/
	padding-right: 10px;
}

.logIn{
	font-size: 15px;
	flex-shrink: 0;
	padding-right: 30px;
}

.circle{
	background-color: #ff0;
	width: 150px;
	height: 150px;
	border-radius: 50%; 
	object-fit: cover;
	object-position:-1% 30%;
}

.avatar{
	margin: 20px;

}

.intro{
	display: flex;
	flex-direction: row;
	/*border: 1px solid black;*/
	margin: 10px 10px 10px 10px;
}

.info .big-title{
	padding: 20px 0px 0px 0px;
	font-size: 40px;
	font-weight: normal;
}

.info .sub{
	font-style: italic;
	font-size: 20px;
}

.software .sub {
	padding: 10px 0px 10px 0px;
}

.title{
	display: flex;
}
.title .big-title{
	padding-top: 10px;
}
.title .circle{
	width: 30px;
	height: 30px;
	margin: 0px 10px 0px 110px;
	background-color: #003c5eff;
	object-fit: contain;
	object-position: 50% 0%;
	padding: 5px;
}

.right-column .circle{
	margin-left: 0px;
}

.icon{

}